@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~rsuite/dist/rsuite.min.css';

@enable-dark-mode: true;

.monaco-editor {
    --vscode-editorGutter-background: #121221 !important;
    --vscode-editor-background: #0d0d1a !important;
}

button {
    cursor: pointer !important;
}
